.layout-grid-vertical {
    display: flex;
    flex-direction: column;
}

.layout-grid-horizontal {
    display: flex;
    flex-direction: row;
}

.container {
    border: solid 1px black;
    padding: 5px;
}

#mainview {
    height: 100vh;
}
