.layout-grid-vertical {
    display: flex;
    flex-direction: column;
}

.layout-grid-horizontal {
    display: flex;
    flex-direction: row;
}

.container {
    border: solid 1px black;
    padding: 5px;
}

#mainview {
    height: 100vh;
}

#content {
    height: 90vh;
}

.leftside {
    width: 40vw;
}

.rightside {
    width: 60vw;
}

.header-container {
    background-color: #0074b2;
    height: 5vh;
}

.hierarchy-container {
    background-color: lightblue;
    height: 50vh;
}

.sequence-container {
    background-color: yellow;
    height: 50vh;
}

.document-container {
    background-color: lightcoral;
    height: 70vh;
}

.attribute-container {
    background-color: lightgreen;
    height: 30vh;
}

.footer-container {
    background-color: #0074b2;
    height: 5vh;
}